<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DnsEnvironmentVariable" value="OPENSHIFT_APP_DNS"/>
    <add key="PortEnvironmentVariable" value="OPENSHIFT_MONO_PORT"/>
    <add key="FallbackPort" value="8080"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>