<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="linqinfer" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="linqinfer" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="linqinfer" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="linqinfer" class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="/app/bower_components/html5-boilerplate/dist/css/normalize.css" />
    <link rel="stylesheet" href="/app/bower_components/html5-boilerplate/dist/css/main.css" />
    <link rel="stylesheet" href="/app/app.css" />

    <script src="/app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
    </script>
</head>
<body>
    <div class="container body-content">

        <ul class="menu">
            <li><a href="#/samples">Samples</a></li>
            <li><a href="/api/data/samples">Samples API</a></li>
        </ul>

        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

        @RenderBody()

        <div ng-view></div>
        
        <footer>
            <p>&copy; @DateTime.Now.Year v<span app-version></span></p>
        </footer>

        <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
        <script src="/app/bower_components/angular/angular.js"></script>
        <script src="/app/bower_components/angular-route/angular-route.js"></script>
        <script src="/app/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/app/app.js"></script>
        <script src="/app/samples/samples.js"></script>
        <script src="/app/sofm/sofm.js"></script>
        <script src="/app/components/version/version.js"></script>
        <script src="/app/components/version/version-directive.js"></script>
        <script src="/app/components/version/interpolate-filter.js"></script>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
